body{
background: white;
text-align: center;

}
.container{
 background-color: pink ;
 width: 1000px;
height: 1000px;
border-radius: 15px;
}

label{
font-size: 15px;
display:block;
width: 100%;
margin-top: 10px;
margin-bottom: 5px;
text-align: left;
font-weight: bold;
padding: 20px;
}

input{
margin-right: 800px;
margin-top: 0px;
margin-bottom: 0px;
}